@page "/login"
@inject NavigationManager Navigation
@using E621Maui.Lib.SettingsManager

<label>Username</label>
<input type="text" @bind="Settings.E621UserName" />

<label>API key</label>
<input type="text" @bind="Settings.E621ApiKey" />

<button class="btn btn-primary" @onclick="GoHome">OK</button>

@code 
{
    private AppSettingsManager Settings = new();
    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}